*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(99, 99, 99);
    color: rgb(174, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 56px;

}
.escola-imagem{
    width: 25%;
}